<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改收货地址</title>
  <link href="__PUBLIC__/Admin/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/style.css" />
  <script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
</head>
<body>
<div class="page-container">
  <form action="__URL__/editAddres" method="post" class="form form-horizontal" id="form-user-add">
  <input type="hidden" name="id" value="{{$listC.id}}">
   
    <div style="width:95%; margin:auto;">
    <table class="table table-border table-bordered radius" >
      <tr>
        <td class="text-r" style="background:#F8F8F8;widows: 100px">用户名：</td>
        <td >
          <!-- <input type="text" class="input-text va-m" name="uid" id="" /> -->
          {{$user.username}}
        </td>
      </tr>
      <tr>
        <td class="text-r" style="background:#F8F8F8;widows: 100px">收货人：</td>
        <td>
          <input type="text" class="input-text va-m" name="getman" value="{{$listC.getman}}" />
        </td>
      </tr>
      <tr>
        <td class="text-r" style="background:#F8F8F8;widows: 100px">联系手机：</td>
        <td>
          <input type="text" class="input-text va-m" name="phone" value="{{$listC.phone}}"  />
        </td>
      </tr>

      <tr>
        <td class="text-r" style="background:#F8F8F8;widows: 100px">地区：</td>
        <td>
          <!-- 地区 此处是三级联动代码-->
          <select name="province" id="province" onchange="loadArea(this.value,'city')" class="select input-text" style="width: 30%">
              <option value="-1" selected>省份/直辖市</option>
              <volist name="province" id="vo">
                  <option value="{{$vo['id']}}" <if condition="$vo['id'] eq $listC['province']" >selected</if> >{{$vo['areaname']}}</option>
              </volist>
          </select>
          <select name="city" id="city" onchange="loadArea(this.value,'district')" class="select input-text" style="width: 30%">
              <option value="-1">市/县</option>
              <volist name="city" id="vo">
                  <option value="{{$vo['id']}}" <if condition="$vo['id'] eq $listC['city']">selected</if> >{{$vo['areaname']}}</option>
              </volist>
          </select>
          <select name="district" id="district" onchange="loadArea(this.value,'null')" class="select input-text" style="width: 30%">
              <option value="-1">镇/区</option>
              <volist name="district" id="vo">
                  <option value="{{$vo['id']}}" <if condition="$vo['id'] eq $listC['district']">selected</if> >{{$vo['areaname']}}</option>
              </volist>
          </select>
          <!-- 地区 此处是三级联动代码-->
        </td>
      </tr>
      <tr>
        <td class="text-r" style="background:#F8F8F8;widows:100px">详细地址：</td>
        <td><input type="text" class="input-text va-m" name="detailed" value="{{$listC.detailed}}" /></td>
      </tr>
      <tr>
        <td class="text-c text-r">
         <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
        </td>
        <td></td>
      </tr>
    </table>
    </div>
  </div>  
    

  </form>
</div>
</div>

<script>
function loadArea(areaId,areaType) {
  var ajaxurl = "{{:U('Order/editAddres')}}";
    $.get(ajaxurl,{'areaId':areaId},function(data){
          // console.log(data);
        if(areaType=='city'){
           $('#'+areaType).html('<option value="-1">市/县</option>');
           $('#district').html('<option value="-1">镇/区</option>');
        }else if(areaType=='district'){
           $('#'+areaType).html('<option value="-1">镇/区</option>');
        }
        if(areaType!='null'){
            $.each(data,function(no,items){
                $('#'+areaType).append('<option value="'+items.id+'">'+items.areaname+'</option>');
            });
        }
    });
}
</script>



</body>
</html>