<table class="table table-border table-bordered table-bg table-hover table-sort" id="example">
            
				<thead>
					<tr class="text-c">
						<th width="40"><input name="" type="checkbox" value=""></th>
						<th width="40">ID</th>
						<th width="60">缩略图</th>
						<th width="100">产品名称</th>
                        <th width="100">类型</th>
						<th>描述</th>						
						<th width="100">商品状态</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
                    <if condition="!empty($list)">
                
                        <foreach name="list" item="v">
					<tr class="text-c va-m">
						<td><input name="goodid[]" type="checkbox" value="{{$v.id}}"></td>
						<td>{{$v.id}}</td>
						<td><img width="60" class="product-thumb" src="__PUBLIC__/Uploads/<if condition="$v.pic eq ''">sshot-60.png<else/>{{$v.pic}}</if>" height="65px" ></td>
						<td class="text-l"><b class="text-success">{{$v.name}}</b> </td>
                        					<td><span class="price">{{$v.typename}}</td>
						<td class="text-l">{{$v.desc}}</td>
						
						<td class="td-status">
				                            
				                            <select name="status1" onchange="modify(this,{{$v.id}})";>
				                
						                <option value="1" <if condition="$v.status eq 1 ">selected</if>>新添加</option>
						                <option value="2" <if condition="$v.status eq 2 ">selected</if>>在出售</option>
						                <option value="3" <if condition="$v.status eq 3 ">selected</if>>已下架</option>
				          		  </select>

                           				 </td>
						<td class="td-manage">
						<a title="查看展示图" href="javascript:;" onclick="admin_role_edit('查看展示图','{{:U('PicShow/index')}}?id={{$v.id}}','1')" style="text-decoration:none"><i class="Hui-iconfont">&#xe613;</i></a>
						<a title="查看产品属性" href="javascript:;" onclick="admin_role_edit('查看产品属性','{{:U('GoodsAtt/selectDoodsAtt')}}?id={{$v.id}}','1')" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
						 <a style="text-decoration:none" class="ml-5" onClick="goods_edit('编辑库存/价格','{{:U('PriceStore/index')}}?id={{$v.id}}','10001')" href="javascript:;" title="编辑库存/价格"><i class="Hui-iconfont">&#xe60c;</i></a> <a style="text-decoration:none" class="ml-5" onClick="product_del(this,{{$v.id}})" href="javascript:;" title="删除产品"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
                    </foreach>
                    <else />
                       
                    
                    </if>
				</tbody>
			</table>
            